//.header{
  // @include box-shadow(0 1px 3px 0 rgba(#000, .5));
  // @extend %clearfix;
  // @include inlineblock($valign);
  // @include fira();
// }

//vars
$white: #fff;
$blue: #11749e;
$black: #222;

// layout
@import "_misc/adjustment";
@import "_misc/mixins";
@import "_misc/normalize";


// styles
@import "sections/header";
@import "sections/job";
@import "sections/event";
@import "sections/blog";
@import "sections/note";
@import "sections/mobile";
@import "sections/team";
@import "sections/post";
@import "sections/map";
@import "sections/footer";
