@mixin box-shadow($params){
  box-shadow: $params;
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
}

%clearfix{
  &:after{
    content: "";
    display: block;
    clear: both;
  }
}

@mixin inlineblock($valign: top){
  display: inline-block;
  vertical-align: $valign;
}
